:root {
  --text-color: #cfccc1;
}


html {
  overflow-y: auto;
  scrollbar-color: var(--text-color) #0d312d;
}


body {
  margin-top: 3.5rem;
  background-color: #3c5f51;
  color: var(--text-color);
}


.Header {
  top: 0;
  position: fixed;
  background-color: #0d312d;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.HeaderTitle {
  font-weight: bold;
  font-size: 2rem;
}