.Content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
}


.AppLink {
  background-color: #1e2f28;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}


.AppLinkImg {

}


.AppLinkName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  font-size: 1rem;
  border-top: .05rem solid #3a564a;
}


@media (max-width: 1000px) {
  .Content {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 700px) {
  .Content {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (orientation: portrait) {
  .Content {
    grid-template-columns: 1fr;
  }
}